.topbar {
    position: sticky;
    position: -webkit-sticky;
    top:0;
    display:flex;
    justify-content: space-around;
    background-color: rgb(200, 200, 200);
    border-bottom: black solid 3px;
}
.topbar .node {
    background-color: rgb(225, 225, 225);
    padding-left:15px;
    padding-right:15px;
    border: black solid 2px;
    border-radius: 6px;
}
.topbar button {
    padding: 15px;
    background-color: rgb(180, 180, 180);
    border:rgb(125, 125, 125) double 4px;
    border-radius:10px;
    cursor:pointer;
}
